	<!DOCTYPE html>
<html>
<head>
	<title>loggin</title>
<link rel="stylesheet" href="/stylesheets/main.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
	<!-- Google Tag Manager -->

</head>
<body>
	<div class="container">
		
		<div class="well well-lg">
			<h1>
				Welcome to Demo App
			</h1>
				<h1>
			Please Login!
			
		</h1>
		<div class="well well-lg">
			<form method="post" action="/login">
				<div>
				<strong>Name: </strong> <input type="text" placeholder="name" name="username">
			<br>
			</div>
			<div>
				<strong>Password: </strong><input type="text" placeholder="password" name="password">
			<br>
			</div>
			
			<div style="margin-top: 10px">
				<button  class="btn btn-danger" href="/"> go back </button>	
			</div>
			
			</form>
			<br><br>
			
		</div>
			<a class="btn btn-default" href="/login">Login</a>
		</div>
		
	
	
	
	
	
	</div>
	</body>
</html>